*{
    padding: 0;
    margin: 0;

}
body
{
    width:100%;
    height:100vh;
    background: linear-gradient(120deg, rgb(27, 2, 135) ,#001660);
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;



}
.login-page
{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    padding:35px;
    width:300px;
    height: auto;
    margin-right: 30px;
    border-radius:10px;
    margin-bottom: 35px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    
}
.login-page h6
{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 14px;
}
.login-txt
{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 20px;
    
}
.div a
{
    text-decoration: none;
    background-color:  rgb(27, 2, 135);
    color: white;
    display: flex;
    align-content: center;
    width: fit-content;
    margin-top: 4px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;


}
.div img
{
    width: 17px ;
    margin-right: 8px;
}


.login-signup a
{ 
    background-color:  rgb(238, 238, 238);
    color: #1b0287;
     margin-top: 4px;
     text-decoration: none;
    display: flex;
    align-content: center;
    width: fit-content;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;

}
.login-signup img
{
    width: 17px ;
    margin-right: 8px;
}

/* ---------------input ---------------- */
.login-input
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}
.input img
{
    width: 20px;
    margin: 0 15px;
}
.input input::placeholder
{
    color: rgb(0, 0, 0);
    font-size: 15px;

}
#show
{
    margin-left:44px;
    font-size: 14px;
    cursor: pointer;
    display: block;
  

}

#hide
{
    margin-left:48px;
    font-size: 14px;
    cursor: pointer;
    display: none;

}
#show:focus
{
     color: grey;
}
.input
{
     display: flex;
     align-items: center;
     margin: auto;
     width: 100%;
     height: 40px;
     /* background-color: #e6e6e6; */
     border-radius: 5px;
     border: 0.5px solid black;

}
.input input
{
    outline: 0;
    border: 0;
    background: transparent;
    color: black;
}


.login-middle
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-top: 10px;
}
.login-check p
{
    font-size: 12px;
    font-weight: 100;
    width: fit-content;
    justify-content:center ;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.login-check input
{
    accent-color: #1b0287;
   width: 15px;
   height: 15px;
   margin-right: 6px;

}

.login-forget a
{
    text-decoration: none;
    font-size: 12.2px;
    font-weight: 100;
    margin-left: 5px;
    color:black;
    cursor: pointer;
}
.login-forget a:hover 
{
   color:  rgba(255, 0, 0, 0.644);
    border-bottom:1px solid  rgba(255, 0, 0, 0.644);  ;
}
.login-button button
{
    background-color:  rgb(27, 2, 135);
    color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 35px;
    border-radius:5px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}
/* .login-button button:hover
{
    
    background-color:  rgb(238, 238, 238);
    color:  rgb(27, 2, 135);
    transform: scale(1.2)
} */
.or-with{
    display: flex;
    justify-content: center;
    align-items: center;
}
.with
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
      align-items: center;
     gap: 10px;
     margin-top: 20px;

  
}
.with::before ,.with::after
{
    content: '';
    background-color: black;
    height: 2px;
    display: block;
    
    text-align: center;
    

}

.google 
{
    display: flex;

    align-items: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    /* border: 0.8px solid black; */
    border-top: 2px solid #ea4335;
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #34a853;
    border-left: 2px solid #fbbc05; 
    
    width: 90%;
    height: 30px;
    border-radius:5px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 2px;
    cursor: pointer;
}
.google:hover
{
    border-top: 2px solid #4285f4;
    border-right: 2px solid #34a853;
    border-bottom: 2px solid #fbbc05 ;
    border-left: 2px solid  #ea4335; 
}
.google-img img
{
      width:17px;
      margin-left: 65px;
      margin-right: 10px;
      
}
.google-txt
{
    
    font-size: 13px;
    
}